@font-face {
    font-family:acme ;
    src: url(fonts/Acme-Regular.ttf);
}

body{
    font-family: acme;
    background-image: url(../img/bg.jpg);
}

#header{
    background-color: rgba(154, 65, 166, 0.823);

}

#header span{
font-size: 25px;
color:aliceblue;
margin-left: 20px;
}

.form-switch .form-check-input {
    height: 1.1em;
}

#menu-navbar{
    font-size: 18px;
    margin-bottom: 50px;
    font-family: acme;
    background-color: rgba(137, 43, 226, 0.943);
    border-radius: 0px 0px 15px 15px;
}

.nav-link{
    color:aliceblue;
}

.card-header span{
    font-weight: bolder;
}

.card-body button{
    margin-bottom: 10px;
}

div[class="card-body text-dark"] img{
    margin-right: 20px;
    margin-top: 10px;
} 

#noticeIcon{
width: 25px;
height: 30px;
margin-right: 10px;
}
#comingSoonIcon{
    margin-top: -110px;
}
